In [6]:
%run ../base_setup.ipynb
import timeit

DTU: 1.07.038
DBU: 1.01.003

In [2]:
tr = Transition('accounts-many')
db = DataBuilder("accounts-many")
tools = db.tools

In [14]:
start_time = time.time()
values = tools.get_number(1, 10000, size=1000000)
round(time.time() - start_time, 2)

8.96

In [3]:
sample_size = 5000

In [20]:
df = tr.clean.filter_columns(MappedSample.companies_inc5000(size = sample_size), headers = ["Latitude", "Longitude"], drop = True)

In [21]:
df.shape

(5000, 7)

In [22]:
df.head()

,state_s,company,metro,city,industry,state_l,website
0,CA,Skillz,San Francisco,San Francisco,Software,California,http://skillz.com
1,TX,EnviroSolar Power,Dallas,Fort Worth,Energy,Texas,http://envirosolarpower.com
2,CA,Gametime,San Francisco,San Francisco,Consumer Products & Services,California,http://gametime.co
3,CA,Club Pilates Franchise,Los Angeles,Costa Mesa,Consumer Products & Services,California,http://clubpilates.com
4,CA,Halo Top Creamery,Los Angeles,Los Angeles,Food & Beverage,California,http://halotop.com

In [23]:
df = pd.DataFrame(np.repeat(df.values,200,axis=0), columns=df.columns)
sample_size = df.shape[0]

In [24]:
gb = df.groupby([df['company']])

In [25]:
df.company = df.company + [str(-a) if a else '' for a in gb.cumcount()]

In [26]:
df.head()

,state_s,company,metro,city,industry,state_l,website
0,CA,Skillz,San Francisco,San Francisco,Software,California,http://skillz.com
1,CA,Skillz-1,San Francisco,San Francisco,Software,California,http://skillz.com
2,CA,Skillz-2,San Francisco,San Francisco,Software,California,http://skillz.com
3,CA,Skillz-3,San Francisco,San Francisco,Software,California,http://skillz.com
4,CA,Skillz-4,San Francisco,San Francisco,Software,California,http://skillz.com

In [27]:
df['Account_Id'] = tools.get_string_pattern('001dUdddddlduddlUlU',choice_only=False, size = 1000000)

In [28]:
tr.discover.data_dictionary(df)

,Attribute,Type,% Nulls,Count,Unique,Observations
0,Account_Id,object,0.0,1000000,1000000,Sample: 0019H24501h3u73bJzB | 0012F59527a5u09jVcN | 0014I12749c6u75uLxB
1,city,object,0.0,1000000,1408,Sample: Grand Haven | South Coast Metro | Dos Palos
2,company,object,0.0,1000000,1000000,Sample: Novasyte-26 | DYNAMIC SOLUTIONS WORLDWIDE-176 | Value Trend Sol...
3,industry,object,0.0,999000,25,Sample: Advertising & Marketing | Media | Insurance
4,metro,object,0.0,997800,303,"Sample: Detroit | Gainesville, FL | Miami"
5,state_l,object,0.0,1000000,52,Sample: Nevada | Colorado | Louisiana
6,state_s,object,0.0,1000000,52,Sample: IL | CO | OK
7,website,object,0.0,999400,4995,Sample: csaassociates.com | sunsettrans.com | lizzylift.com

In [29]:
db.save_to_disk(df,filename="sfdc_accounts_many.csv",file_format="csv",path='../../data/0_raw/' )

In [30]:
tr.set_source_contract("sfdc_accounts_many.csv",load = False)

In [11]:
MappedSample?

Init signature: MappedSample()
Docstring:
Helper class that provides a standard way to create an ABC using
inheritance.
File:           ~/miniconda3/lib/python3.7/site-packages/ds_behavioral/sample/sample_data.py
Type:           ABCMeta

In [12]:
df.shape

(1000000, 7)