In [5]:
class A:
    
    def __init__(self, value: str):
        self.value = value
            
    def get_value(self):
        return self.value
    
class B:
    
    def get_type(self) -> type:
        return A

In [17]:
b = B()
a = b.get_type()
a = a(value='hello')
a.get_value()

'hello'

In [17]:
pd.DataFrame.from_dict(data=mydict, orient='columns')

   A  B
0  1  5
1  2  4
2  3  3
3  4  2
4  5  1