In [1]:
%run ../base_setup.ipynb

Foundation: 1.02.026
Transition: 2.03.061

In [8]:
df_master = pd.DataFrame({'A': [2,3,4,5], 'B': [1,5,1,1]})
df_event = pd.DataFrame({'B': [10, np.nan, 7], 'D': [np.nan, 3, 7]})

In [9]:
d_master = df_master.to_dict(orient='list')
d_event = df_event.to_dict(orient='list')

In [19]:
df_event.combine_first(df_master)

It took 0:00:00.228947

In [11]:
df_event = df_event.combine(df_master, lambda s1, s2: s2-s1 if len(s2.mode()) else s1)
df_event.combine_first(df_master)

     A    B    D
0  2.0 -9.0  NaN
1  3.0  5.0  3.0
2  4.0 -6.0  7.0
3  5.0  1.0  NaN