In [9]:
%run ../base_setup.ipynb
from ds_discovery.transition.discovery import DataAnalytics
from pprint import pprint
import string

Foundation: 1.02.030
Transition: 2.03.070

-------------------------

In [11]:
tr = Transition.from_env('names')

In [23]:
tr.set_source_contract(resource='last_names.all.txt', connector_type='csv', 
                       location='https://raw.githubusercontent.com/philipperemy/name-dataset/master/names_dataset/',
                       module_name=tr.MODULE_NAME, handler=tr.HANDLER_SOURCE)

In [25]:
df = pd.read_csv('https://raw.githubusercontent.com/philipperemy/name-dataset/master/names_dataset/last_names.all.txt')

        aaberg
0        aabid
1         aaby
2       aachal
3       aadesh
4        aadil
...        ...
98385   सोनिया
98386  हंसाराम
98387  हीरालाल
98388   हेमराज
98389    ि‍वजय

[98390 rows x 1 columns]