In [17]:
%run ../base_setup.ipynb

DTU: 1.07.029
DBU: 1.01.003

## Sourcing
Define the source and load the canonical into memory

In [18]:
tr = Transition('ames')

In [19]:
tr.discover.find_file('ames', root_dir=tr.file_pm.dir_raw)

,name,parent,stem,suffix,created,search
0,ames_housing.csv,/Users/doatridge/code/projects/prod/discovery-transitioning-utils/jupyter/working/data/0_raw,ames_housing,csv,Thu May 9 11:04:27 2019,ames_housing.csv

In [20]:
tr.set_source_contract('ames_housing.csv', source_format='csv', encoding='latin1', load=False)

In [34]:
df = tr.get_source_data()

In [36]:
tr.set_cleaner(tr.clean.clean_header(df, inplace=True))

In [37]:
association = [{'GrLivArea': {'expect': 'number',
                                    'value': [4000, np.inf]},
                {'SalePrice': {'expect': 'number',
                                    'value': [-np.inf, 300000]}}]

action = {0: {'action': 'drop'}
          1: ('action': 'apply_subsitution', 'kwargs': {'value': {'_header': 'SalePrice'}, r'This': r'That'}

df_clean = feature.association_builder(df, associations=association, actions=action)

In [48]:
df_filter = tr.clean.filter_columns(df, regex=['GrLivArea', 'SalePrice'])
tr.discover.analysis_dictionary(df_filter, col_kwargs={'GrLivArea': {'granularity': 5}, 'SalePrice': {'granularity': 5}})

,Attribute,Type,Unique,% Nulls,Sample,Selection,Weighting,Granularity,Lower,Upper
0,GrLivArea,int64,861,0.0,1460,"[(334.0, 1395.6), (1395.6, 2457.2), (2457.2, 3518.8), (3518.8, 4580.4), (4580.4, 5642.0)]","[45.27, 49.59, 4.73, 0.27, 0.14]",5,334,5642
1,SalePrice,int64,663,0.0,1460,"[(34900, 178920), (178920, 322940), (322940, 466960), (466960, 610980), (610980, 755000)]","[59.66, 34.79, 4.79, 0.48, 0.27]",5,34900,755000

In [50]:
tr.enrich.add_observation('GrLivArea', 'I saw the outlier were from 2000 ')

In [51]:
tr.enrich.

{'observation': ['I saw the outlier were from 2000 ']}

In [49]:
columns_list = [{'SalePrice': {'granularity':6}}, {'GrLivArea': {}}]

tr.discover.analyse_association(df, columns_list=columns_list)

{'SalePrice': {'associate': 'SalePrice',
  'analysis': {'selection': [(34900.0, 154916.667),
    (154916.667, 274933.333),
    (274933.333, 394950.0),
    (394950.0, 514966.667),
    (514966.667, 634983.333),
    (634983.333, 755000.0)],
   'weighting': [44.73, 44.45, 8.77, 1.51, 0.41, 0.14],
   'lower': 34900,
   'upper': 755000,
   'granularity': 6,
   'dtype': 'number',
   'null_values': [0.0],
   'sample': [1460],
   'dropped': [0]},
  'sub_category': {(34900.0,
    154916.667): {'GrLivArea': {'associate': 'SalePrice.GrLivArea',
     'analysis': {'selection': [(334.0, 1064.667),
       (1064.667, 1795.333),
       (1795.333, 2526.0)],
      'weighting': [43.1, 51.38, 5.52],
      'lower': 334,
      'upper': 2526,
      'granularity': 3,
      'dtype': 'number',
      'null_values': [0.0],
      'sample': [652],
      'dropped': [0]}}},
   (154916.667,
    274933.333): {'GrLivArea': {'associate': 'SalePrice.GrLivArea',
     'analysis': {'selection': [(848, 2446), (2446, 4044), (4044, 5642)],
      'weighting': [96.3, 3.39, 0.31],
      'lower': 848,
      'upper': 5642,
      'granularity': 3,
      'dtype': 'number',
      'null_values': [0.0],
      'sample': [649],
      'dropped': [0]}}},
   (274933.333,
    394950.0): {'GrLivArea': {'associate': 'SalePrice.GrLivArea',
     'analysis': {'selection': [(1419.0, 2110.333),
       (2110.333, 2801.667),
       (2801.667, 3493.0)],
      'weighting': [54.69, 39.84, 5.47],
      'lower': 1419,
      'upper': 3493,
      'granularity': 3,
      'dtype': 'number',
      'null_values': [0.0],
      'sample': [128],
      'dropped': [0]}}},
   (394950.0,
    514966.667): {'GrLivArea': {'associate': 'SalePrice.GrLivArea',
     'analysis': {'selection': [(1940, 2496), (2496, 3052), (3052, 3608)],
      'weighting': [50.0, 31.82, 18.18],
      'lower': 1940,
      'upper': 3608,
      'granularity': 3,
      'dtype': 'number',
      'null_values': [0.0],
      'sample': [22],
      'dropped': [0]}}},
   (514966.667,
    634983.333): {'GrLivArea': {'associate': 'SalePrice.GrLivArea',
     'analysis': {'selection': [(2364, 2785), (2785, 3206), (3206, 3627)],
      'weighting': [33.33, 33.33, 33.33],
      'lower': 2364,
      'upper': 3627,
      'granularity': 3,
      'dtype': 'number',
      'null_values': [0.0],
      'sample': [6],
      'dropped': [0]}}},
   (634983.333,
    755000.0): {'GrLivArea': {'associate': 'SalePrice.GrLivArea',
     'analysis': {'selection': [(4316.0, 4369.333),
       (4369.333, 4422.667),
       (4422.667, 4476.0)],
      'weighting': [50.0, 0.0, 50.0],
      'lower': 4316,
      'upper': 4476,
      'granularity': 3,
      'dtype': 'number',
      'null_values': [0.0],
      'sample': [2],
      'dropped': [0]}}}}}}