In [2]:
%run ../base_setup.ipynb

Foundation: 1.02.014
Transition: 2.03.022

# Accelerated Machine learning
## Transitioning Contract

In [3]:
# create or retrieve the named Transition instance
tr = Transition.from_env('synthetic_customer_dictionary')

#### Reset the Contract

In [4]:
tr.reset_transition_contracts()

### Data Source
if loading from local default, just pass the resource. example:<br>
`tr.set_source_contract(resource='synthetic.csv', sep=',', encoding='latin1', load=False)`

In [5]:
# set the source contract
tr.set_source_contract(resource='synthetic_customer_dictionary.csv', sep=',', encoding='latin1', load=False)
tr.set_persist_contract()
tr.report_source()

### Retrieve & Observations

In [6]:
# load the source canonical
df = tr.load_source_canonical()

In [7]:
tr.canonical_report(df, stylise=False)

,Attribute,dType,%_Null,%_Dom,Count,Unique,Observations
0,attribute,object,0.062,0.067,15,15,Sample: forename | weight_cat | surname
1,description,object,0.000,0.062,16,16,Sample: the prossession of the customer | The last time the customer lo...

In [8]:
tr.add_notes(text='The file is a dictionary of the Synthetic Customer attributes')

In [9]:
tr.add_notes(label='source', text='created as a local file')

In [10]:
tr.report_notes(stylise=True)

------------
### Selection, Filter and Typing

In [11]:
# auto clean headers
tr.set_cleaner(tr.clean.auto_clean_header(df, inplace=True))

In [12]:
# Type Integers
tr.set_cleaner(tr.clean.to_str_type(df, dtype=['object'], nulls_list=['', 'nan'], inplace=True))

In [13]:
# Cleaners report
tr.report_cleaners()

### Report, Persist and Validation

In [14]:
# persist Transitioning Contract just to ensure everything in memory is persisted to disk
tr.persist_contract()

# save the clean file
tr.save_clean_canonical(df)

In [14]:
# check the save worked by loading back the clean canonical
df = tr.load_clean_canonical()
tr.canonical_report(df, stylise=False)

,Attribute,dType,%_Null,%_Dom,Count,Unique,Observations
0,attribute,object,0.062,0.067,15,15,Sample: online | surname | single num
1,description,object,0.000,0.062,16,16,Sample: the prossession of the customer | The last time the customer lo...

---------
### Re-Running the Contract Pipeline

In [15]:
# loads the raw canonical, run the contract pipeline, save and return the clean canonical
df = tr.refresh_clean_canonical()
tr.canonical_report(df, stylise=False)

,Attribute,dType,%_Null,%_Dom,Count,Unique,Observations
0,attribute,object,0.062,0.067,15,15,Sample: profession | single num | start
1,description,object,0.000,0.062,16,16,Sample: if the customer has an online account | customer forename | a c...