In [1]:
%run ../base_setup.ipynb

DTU: 1.08.031
DBU: 1.01.003

In [2]:
from ds_behavioral.sample.sample_data import ProfileSample

In [3]:
builder = DataBuilder('synthetic')
tools = builder.tools

### Build the Core Attributes

In [4]:
sample_size = 5000

df = tools.get_profiles(size=sample_size, mf_weighting=[5,3])
df['id'] = tools.unique_identifiers(from_value=1000000, to_value=9999999, prefix='CU_', size=sample_size)

value_distribution = [0.01,0.8,1,3,9,8,3,2,1] + list(np.flip(np.exp(np.arange(-5,0.0, 0.2)).round(2)))
df['balance'] = tools.get_number(0.0, 1000, precision=2, weight_pattern=value_distribution, size=sample_size)

age_pattern = [3,5,6,10,6,5,7,15,5,2,1,0.5,0.2,0.1]
df['age'] = tools.get_number(20.0, 90.0, weight_pattern=age_pattern, quantity=0.85, size=sample_size)

df['start'] = tools.get_datetime(start='01/01/2018', until='31/12/2018', date_format='%m-%d-%y', size=sample_size)

prof_pattern = [10,8,5,4,3,2] + [1]*9
profession = ProfileSample.professions(size=15)
df['profession'] = tools.get_category(selection=profession, weight_pattern=prof_pattern, quantity=0.90, size=sample_size)

df['online'] = tools.get_category(selection=[1,0], weight_pattern=[1,4], quantity=0.65, size=sample_size)

### Add in example 'Noise'

In [5]:
df['single num'] = DataBuilderTools.get_number(1, 1, quantity=0.8, size=sample_size, seed=31)
df['weight_num'] = DataBuilderTools.get_number(1, 2, weight_pattern=[90, 1], size=sample_size, seed=31)
df['null'] = DataBuilderTools.get_number(1, 100, quantity=0, size=sample_size, seed=31)
df['single cat'] = DataBuilderTools.get_category(['A'], quantity=0.6, size=sample_size, seed=31)
df['weight_cat'] = DataBuilderTools.get_category(['A', 'B', 'C'], weight_pattern=[80, 1, 1], size=sample_size, seed=31)

#### (optionally) Add volume of noise columns

In [6]:
# for i in range(40):
#     col = "empty_{}".format(i)
#     df[col] = tools.get_number(100, 101, quantity=0.01, size=sample_size)

### Save and Validate

In [8]:
filename = os.path.join(os.environ['DSTU_DATA_PATH'],'0_raw', 'synthetic.csv')
builder.save_to_disk(df, filename=filename)
discover.data_dictionary(df)

,Attribute,Type,% Nulls,Count,Unique,Observations
0,age,float64,0.15,4250,4050,max=89.841 | min=20.015 | mean=46.88
1,balance,float64,0.00,5000,4395,max=972.38 | min=19.62 | mean=186.4
2,forename,object,0.00,5000,3937,Sample: Hasnain | Serena | Summer-Rose
3,gender,category,0.00,5000,2,F|M
4,id,object,0.00,5000,5000,Sample: CU_6434481 | CU_4006205 | CU_9248360
5,null,object,1.00,0,0,Sample: Null Values
6,online,float64,0.35,3250,2,max=1.0 | min=0.0 | mean=0.21
7,profession,object,0.10,5000,16,Sample: Structural Engineer | Librarian | Software Engineer IV
8,single cat,object,0.40,5000,2,Sample: | A
9,single num,float64,0.20,4000,1,max=1.0 | min=1.0 | mean=1.0
10,start,object,0.00,5000,364,Sample: 10-08-18 | 11-10-18 | 07-08-18
11,surname,object,0.00,5000,5000,Sample: Quintel | Monserrate | Netzel
12,weight_cat,object,0.00,5000,3,Sample: B | A | C
13,weight_num,int64,0.00,5000,2,max=2 | min=1 | mean=1.01